
<header class="headerspike pt-5 row">
	<div class="col-5">
	</div>
	<div class="col-7 pt-5">

	</div>
</header>

<div class="container">
	<div class="container titulopage shadow-sm pb-4">
		<h1 class="titulopage">DogMe</h1>
		<h2 class="">Adopta un perro callejero</h2>
	</div>
</div>


<div class="p-5">
	<div class="row iconos container-fluid">
		<div class="col-4 container">
			<div class="separadoriconoc shadow-sm">
				<i class="fas fa-sign-in-alt container"></i>
				<div class="container">
					<h5 class="container">Registrate con tu correo o facebook</h5>
				</div>
			</div>
		</div>
		<div class="col-4 container">
			<div class="separadoriconoc shadow-sm">
				<i class="fas fa-map-marker-alt container"></i>
				<div class="container">
					<h5 class="container">Sube una foto y la ubicacion del perrito en situacion de calle</h5>
				</div>
			</div>
		</div>
		<div class="col-4 container">
			<div class="separadoriconoc shadow-sm">
				<i class="fas fa-home container"></i>
				<div class="container">
					<h5 class="container">Miles de personas veran al perrito y podran adoptarlo</h5>
				</div>
			</div>
		</div>
	</div>
</div>
