<div class="pt-5">
	<div class="col" id="mapid">
	</div>
</div>

<div class="pt-5">
	<h1 class="display-1">Mascotas</h1>
	<% if user_signed_in? %>
		<%= link_to 'Ingresa mascota', new_pet_path, class: "btn btn-primary" %>
	<% end %>
	<div class="row card-deck pt-5">
		<% @pets.each do |pet| %>
		<div class="card">
			<h2><%= pet.name %></h2>
			<p><%= image_tag pet.photo.url %></p>
			<h3><%= pet.description  %></h3>
			<!-- interpolacion -->
			<h3><% "#{pet.latitude}, #{pet.longitude}"%></h3>
		</div>
		<% end %>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function(){
	    var mymap = null;
			mymap = L.map('mapid').locate({setView: true, maxZoom: 16});
	    createMap(mymap);
	    showPetsLocatios(mymap);
	});
</script>
