<div class="new-pet">
	<div class="container pt-2 pb-2">
		<% if user_signed_in? %>
			<%= link_to 'Ingresa una nueva mascota', new_publication_path, class: "new-pet"%>
			<% else %>
			<h1 class="new-pet pt-1"><%= link_to 'Inicia sesión', new_user_session_path, class: :blanco %> o <%= link_to 'Regístrate', new_user_registration_path, class: :blanco %> para ingresar una nueva mascota</h1>
		<% end %>
	</div>
</div>

<!-- <div class="p-5" id="map-holder"> -->
	<div class="fill shadow-sm">
		<div id="mapid">
		</div>
	</div>
<!-- </div> -->

<script>
	document.addEventListener('DOMContentLoaded', function(){
	    var mymap = null;
			mymap = L.map('mapid').locate({setView: true, maxZoom: 18});
	    createMap(mymap);
	    showPetsLocations(mymap);
	});
</script>
