<div class="new-pet">
	<div class="container pt-2 pb-2">
		<% if user_signed_in? %>
			<%= link_to 'Ingresa una nueva mascota', new_pet_path, class: "new-pet"%>
			<% else %>
			<h1 class="new-pet pt-1"><a class="blanco"href="new_user_session_path"><u>Inicia sesión</u></a> o <a class="blanco" href="new_user_registration_path"><u>registrate</u></a> para ingresar una nueva mascota.</h1>
		<% end %>
	</div>
</div>

<div class="p-5" id="map-holder">
	<div class="container fill shadow-sm pt-5 pb-5">
		<div id="mapid">
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function(){
	    var mymap = null;
			mymap = L.map('mapid').locate({setView: true, maxZoom: 16});
	    createMap(mymap);
	    showPetsLocations(mymap);
	});
</script>
